/ServicoApp/ServicoApp.API/obj
/ServicoApp/ServicoApp.API/bin
/ServicoApp/ServicoApp.Application/obj
/ServicoApp/ServicoApp.Application/bin
/ServicoApp/ServicoApp.Domain/bin
/ServicoApp/ServicoApp.Domain/obj
/ServicoApp/ServicoApp.Infrastructure/bin
/ServicoApp/ServicoApp.Infrastructure/obj
/ServicoApp/ServicoApp.Tests/bin
/ServicoApp/ServicoApp.Tests/obj
ServicoApp/.vs/ServicoApp/CopilotIndices/18.8.1018.10883/CodeChunks.db
ServicoApp/.vs/ServicoApp/CopilotIndices/18.8.1018.10883/SemanticSymbols.db
ServicoApp/.vs/ServicoApp.slnx/DesignTimeBuild/.dtbcache.v2
ServicoApp/.vs/ServicoApp.slnx/FileContentIndex/cc9eba9f-7dd7-4a10-bd70-f550919d377c.vsidx
ServicoApp/.vs/ServicoApp.slnx/v18/.futdcache.v2
ServicoApp/.vs/ServicoApp.slnx/v18/.suo
