/ServicoApp/ServicoApp.API/obj
/ServicoApp/ServicoApp.API/bin
/ServicoApp/ServicoApp.Application/obj
/ServicoApp/ServicoApp.Application/bin
/ServicoApp/ServicoApp.Domain/bin
/ServicoApp/ServicoApp.Domain/obj
/ServicoApp/ServicoApp.Infrastructure/bin
/ServicoApp/ServicoApp.Infrastructure/obj
